<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>

<div class="container">
    <h2>formulaire de saisie  de categorie</h2>
    <form th:action="@{/categorie/save}"  method="post">
        <div class="mb-3" >
            <label class="form-label">Libelle</label>
            <input name="libelle" type="text" class="form-control" placeholder="libellé du  produit"/>
        </div>

        <button TYPE="submit" CLASS="btn btn-primary">ok</button>
    </form>

</div>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>