<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
    <th:block th:replace="partie/stylehaut :: stylehaut"></th:block>


</head>
<body>
<th:block th:replace="partie/haut :: haut"></th:block>
<th:block th:replace="partie/side :: side"></th:block>


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div>

<div class="container">
    <h2>formulaire de saisie  de produit</h2>

    <form th:action="@{/produit/save}"  method="post">


        <div class="mb-3">
            <label class="form-label">Quantité seuil</label>
            <input name="qteSeuil" type="number" class="form-control" placeholder="Quantité seuil"/>
        </div>


        <div class="mb-3">
            <label class="form-label">Prix</label>
            <input name="prix" type="number" class="form-control" placeholder="Quantité seuil"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Categorie</label>
            <select name="categorieId">

                <option th:each="a:${listCat}"
                        th:value="${a.id}"
                        th:text="${a.libelle}">     00</option>
            </select>
        </div>

        <button TYPE="submit" CLASS="btn btn-primary">ok</button>
    </form>

</div>
</main>

<th:block th:replace="partie/bas :: bas"></th:block>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>