<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>

<div class="container">
    <h2>formulaire de modification</h2>
    <form th:action="@{/produit/save}" th:object="${unProduit}" method="post">
        <div class="mb-3" >
            <input  name="id" th:field="*{id}" type="hidden"  />
            <input  name="id" th:field="*{dateCreation}" type="hidden"  />
            <input  name="id" th:field="*{qteStok}" type="hidden"  />

        </div>

        <div class="mb-3" >
            <label class="form-label">Libelle</label>
            <input name="libelle" type="text" th:field="*{libelle}" class="form-control" placeholder="libellé du  produit"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Quantité seuil</label>
            <input name="qteSeuil"  type="number" th:field="*{qteSeuil}" class="form-control" placeholder="Quantité seuil"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Prix</label>
            <input name="prix" type="number" th:field="*{prix}" class="form-control" placeholder="Quantité seuil"/>
        </div>

        <button TYPE="submit" CLASS="btn btn-primary">ok</button>
    </form>

</div>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>