<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
    <th:block th:replace="partie/stylehaut :: stylehaut"></th:block>


</head>
<body>
<th:block th:replace="partie/haut :: haut"></th:block>
<th:block th:replace="partie/side :: side"></th:block>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liste produit</h5>

                        <!-- Default Table -->
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Libelle</th>
                                <th scope="col">Quantite Stock</th>
                                <th scope="col">Prix</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="p:${listProduit}">
                                <th scope="row" th:text="${p.id}"></th>
                                <td th:text="${p.libelle}"></td>
                                <td th:text="${p.qteStok}"></td>
                                <td th:text="${p.prix}"></td>

                                <td>
                                    <a th:href="@{/vente/creat/{id}(id=${p.id})}">Ajouter</a>
                                    <a th:href="@{/vente/creat/{id}(id=${p.id})}">Edit |</a>


                                </td>
                            </tr>


                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>


            </div>

            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liste selectioner</h5>

                        <!-- Table with stripped rows -->
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Libelle</th>
                                <th scope="col">Prix</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="p:${listLigne}">
                                <th scope="row" th:text="${p.id}"></th>
                                <td th:text="${p.libelle}"></td>

                                <td th:text="${p.prix}"></td>

                                <td>
                                    <a th:href="@{/vente/remo/{id}(id=${p.id})}">Retirer</a>

                                </td>
                            </tr>


                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>


        </div>
    </section>
</main>
<th:block th:replace="partie/bas :: bas"></th:block>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>